* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bg-color: #fcfcfc;
    --primary-color: #352a24;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}



html {
    scroll-behavior: smooth;
}

/* navigation bar */

/* Navbar */
.navbar {
    position: sticky;
    top: 0;
    z-index: 15;
    padding: 1.5rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: #352a24;
}

.navbar-nav .nav-link {
    color: var(--primary-color);
    transition: var(--transition);
}

.navbar-nav .nav-link:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.navbar-toggler {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

@media (max-width: 991px) {
    .navbar-nav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-width: 300px;
        /* Adjust the maximum width as needed */
        padding: 10px;
        background-color: #f8f9fa;
        border-radius: 5px;
    }

    .navbar-nav.show {
        display: block;
        width: 150px;
        position: relative;
        left: 40%;
        height: 250px;
    }

    .navbar-nav li {
        margin-bottom: 10px;
    }

    .navbar-collapse {
        max-height: 300px;
        /* Set the desired maximum height */
        overflow-y: auto;
        /* Add a scrollbar if necessary */
    }
}

@media (max-width: 767px) {
    .navbar-nav {
        margin-top: 10px;
    }

    .justify-content-end {
        flex-grow: 1;
        justify-content: flex-end;
    }
}

/* Navbar ends */

.tall-lighthouse-north-sea-cloudy-1 {
    width: 100%;
    height: 750px;
    filter: brightness(50%);
}

.hey-there-i-am-phumlani-dlamini {
    color: #ffffff;
    text-align: center;
    font: 700 50px "Playfair Display", sans-serif;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.a-software-developer-who-specializes-in-the-mern-stack-and-web-3-i-m-also-a-passionate-smart-contract-security-researcher-and-auditor-i-love-building-decentralized-applications-that-are-secure-reliable-and-user-friendly-i-m-always-up-for-a-challenge-and-i-m-always-looking-for-new-ways-to-learn-and-grow {
    color: #ffffff;
    text-align: center;
    font: 600 20px/1.6 "Poppins", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .hey-there-i-am-phumlani-dlamini {
        font-size: 30px;
        top: 30%;
    }

    .a-software-developer-who-specializes-in-the-mern-stack-and-web-3-i-m-also-a-passionate-smart-contract-security-researcher-and-auditor-i-love-building-decentralized-applications-that-are-secure-reliable-and-user-friendly-i-m-always-up-for-a-challenge-and-i-m-always-looking-for-new-ways-to-learn-and-grow {
        font-size: 16px;
        top: 65%;
    }

    .tall-lighthouse-north-sea-cloudy-1 {
        max-width: 100%;
        height: 750px;
        filter: brightness(50%);
        position: relative;
    }
}

/* skills */
.skills-section {
    background: #1c3941;
    width: 100%;
    height: auto;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.skills-wrapper {
    background: linear-gradient(180deg, rgba(10, 224, 10, 0.35) 0%, rgba(41, 47, 48, 0.35) 100%);
    border-radius: 25px;
    width: 80%;
    height: auto;
    max-width: 800px;
    padding: 1px;
    /* Increase the padding to add space */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    /* Change align-items to flex-start */
}

.skills-wrapper .card {
    margin: 50px;
    /* Adjust the margin to add space between the cards */
}


.skills-heading {
    color: #d9d9d9;
    position: relative;
    left: 30%;
    top: 0px;
    font: 600 48px "Poppins", sans-serif;
    margin: 50px auto;

}

.card-text {
    color: #ffffff;
}


.skills-card {
    position: relative;
    background: #ffffff;
    border-radius: 25px;
    width: 230.36px;
    height: 195.93px;
    margin: 0 auto 30px;
    padding: 20px;

}

.card-rectangle {
    background: #ffffff;
    border-radius: 25px;
    width: 100%;
    height: 100%;
}

.card-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    height: 70px;
    width: 100px;
}

@media (max-width: 768px) {
    .skills-wrapper {
        display: grid;
        place-items: center;
        margin: 0 35px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        justify-content: center;
    }

    .col-lg-4 {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 35px;
    }

    .skills-card {
        width: 100px;
        height: 100px;
        position: relative;
        top: 20%;
    }

    .skills-heading {
        color: #d9d9d9;
        position: relative;
        left: 30%;
        top: 0px;
        font: 600 48px "Poppins", sans-serif;
        margin: 50px 20px;

    }
}

/* PROJECTS START HERE */
.projects {
    background: rgba(53, 111, 127, 0.5);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.projects2 {
    color: #ffffff;
    text-align: center;
    font: 600 48px "Poppins", sans-serif;
    margin-bottom: 30px;
    margin-top: 30px;

}

.row {
    display: flex;
    justify-content: center;
}

.project-item {
    margin-bottom: 30px;
}

.card-img-top {
    border-radius: 25px 25px 0px 0px;
    height: 177.1px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-title {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

.card-text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.card-body {
    background: rgba(150, 166, 171, 0.5);
    border-radius: 0px 0px 25px 25px;
    padding: 10px;
}

.card {
    max-width: 350px;
    /* Adjust the max-width to your desired size */
    margin: 0 auto;
}

@media (max-width: 576px) {
    .card {
        max-width: 250px;
        /* Adjust the max-width to your desired size for small devices */


        margin: 0 auto;
        margin-bottom: 20px;
        /* Add a margin-bottom value to create space between the cards */
    }
}



@media (max-width: 768px) {}

/* Contact page  */
.contact {
    background: #1c3941;
    padding: 50px 0;
}

.rectangle-23 {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 32px;
    border: 1px solid rgba(43, 164, 184, 0.5);
    padding: 30px;
}

.contact-me {
    color: #ffffff;
    text-align: center;
    font: 600 48px "Poppins", sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
    /* Adjust the margin-bottom value as needed */
}

.submit-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #352a24;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0056b3;
}

/* Social buttons */
.socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 40%;
    z-index: 30;
}

.socicon {
    width: 2rem;
    height: 2rem;
    margin-bottom: 0.5rem;
    /* Add the desired amount of space between the icons */
    border-radius: 50%;
}

/* Social button ends */

/* Scroll to top button */
.scroll-up {
    position: fixed;
    cursor: pointer;
    z-index: 10;
    bottom: 60px;
    right: 20px;
    display: none;

}

.up-arrow {
    width: 3rem;
    height: 3rem;
    z-index: 30;
    border-radius: 50%;
}

/* Scroll to top button ends */

/* Copyright */
.footer {
    background-color: rgba(194, 212, 216, 255);
    color: #ffffff;
    font: 700 24px "Poppins", sans-serif;
    padding: 8px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.year,
.built-by-phumlani-bright-dlamini {
    font: 600 20px "Poppins", sans-serif;
    display: block;
    margin: 0;
}

@media (max-width: 767px) {
    .footer {
        position: sticky;
        bottom: 0;
        padding: 10px 0;
        /* Adjust the top and bottom padding to your preference */
        background-color: rgba(194, 212, 216, 255);
        color: #ffffff;
        font: 700 24px "Poppins", sans-serif;
        text-align: center;
    }

    .year,
    .built-by-phumlani-bright-dlamini {
        font-size: 16px;
        font-weight: bold;
    }

    .socials {
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 85%;
        bottom: 40%;
        z-index: 30;
    }

}